<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387874530439-f60j2ebd4d07i804oe7368hh4t687nck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387874530439-f60j2ebd4d07i804oe7368hh4t687nck</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>387874530439-djdt14jt866q2p6sd05una7m853ervpb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUHEP9mFrYJ6TkvP4daWRfZzLxIsUF1Co</string>
	<key>GCM_SENDER_ID</key>
	<string>387874530439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Leafs</string>
	<key>PROJECT_ID</key>
	<string>leafs-65b7c</string>
	<key>STORAGE_BUCKET</key>
	<string>leafs-65b7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387874530439:ios:5a12c7454e160bfcd1c422</string>
</dict>
</plist>